.form-for-edit-user-profile {
    margin-top: 10px;
}

.input-for-edit-image-user {
    width: 20%;
}

.button-for-edit-profile-user {
    width: 10%;
    
}

.box-for-button-edit-profile-user {
    display: flex;
    justify-content: center;
}

.error-text-form {
    margin-top: 100px;
    color: red;
}